.card {
    font-size: 12px;
    height: auto;
    width: 160px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.card-header-text {
    margin: 0.5px auto;
    font-size: 0.5em;
    text-align: center;
}

.card-image {
    background-color: rgb(221, 221, 221);
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

mat-card {
    padding: 6px;
}

mat-card-content {
    font-size: 13px;
}

.card-content {
    height: 100%;
    padding: 5px;
}